.card {
  width: 325px;
  height: 328px;
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  overflow: hidden;
}

.card__top {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 1;
  max-width: 80%;
}

.card__name {
  margin: 0;
  font-family: Cabinet Grotesk;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background: rgba(255, 255, 255, 1);
  border-radius: 4px;
  padding: 2px 12px;
  white-space: nowrap;
  width: fit-content;
  max-width: 88%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__image {
  width: 100%;
  object-fit: cover;
  margin: 0;
  padding: 0;
}

.card__like-btn {
  background-image: url(../../assets/heart.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 20px;
  width: 23px;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  transition: opacity 0.4s linear;
  opacity: 0.6;
  flex-shrink: 0;
}

.card__like-btn:hover:not(:disabled) {
  opacity: 1;
}

.card__like-btn:disabled {
  cursor: not-allowed;
  opacity: 20%;
}

.card__like-btn_liked {
  background-image: url(../../assets/red-heart.svg);
  opacity: 1;
}

@media (max-width: 726px) {
  .card {
    width: 164px;
    height: 164px;
  }
}
