.cards__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.cards__list:last-child {
  margin-right: 0;
}

.cards__text {
  font-family: Cabinet Grotesk;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
}
