.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  justify-content: flex-end;
}

.header__logo {
  width: 89px;
  height: 40px;
  margin-right: 24px;
}

.header__date-and-location {
  margin: 0;
  font-family: Cabinet Grotesk;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  width: 100%;
}

.header__add-clothes-btn {
  margin: 0 20px;
  font-family: Cabinet Grotesk;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  background-color: transparent;
  border: none;
  padding: 0;
  width: fit-content;
  cursor: pointer;
  white-space: nowrap;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__username {
  margin: 0 12px 0 0;
  font-family: Cabinet Grotesk;
  font-weight: 500;
  font-size: 20px;
}

.header__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Cabinet Grotesk;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
}

.header__mobile-menu-btn {
  display: none;
  background: url("../../assets/hamburger-icon.svg") no-repeat center center;
  background-size: contain;
  border: none;
  cursor: pointer;
}

.header__mobile-close-btn {
  display: none;
}

.header__link {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

.header__signup-btn {
  font-family: Cabinet Grotesk;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  width: fit-content;

  white-space: nowrap;
  margin: 0 20px;
}

.header__login-btn {
  font-family: Cabinet Grotesk;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  width: fit-content;
  white-space: nowrap;
}

@media (max-width: 726px) {
  .header {
    flex-direction: column;
    padding: 20px 0 16px;
  }
  .header__nav {
    display: none;
  }

  .header__logo {
    margin-right: auto;
  }

  .header__date-and-location {
    margin-top: 32px;
  }

  .header__nav--active {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 343px;
    height: 208px;
    background-color: rgba(255, 255, 255, 1);
    padding: 0;
    position: fixed;
    z-index: 1;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin: auto;
  }

  .header__add-clothes-btn {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding: 24px 60px;
  }

  .header__mobile-menu-btn {
    display: flex;
    width: 44px;
    height: 44px;
    background: url("../../assets/hamburger-icon.svg") no-repeat center center;
    background-size: contain;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 16px;
    align-items: center;
  }

  .header__mobile-close-btn {
    display: flex;
    width: 22px;
    height: 22px;
    position: absolute;
    top: 29px;
    right: 16px;
    border-radius: 1px;
    background: url("../../assets/close-icon.svg") no-repeat center center;
    background-size: contain;
    border: none;
    cursor: pointer;
    align-items: center;
  }
}
