.modal {
  position: absolute;
  display: flex;
}

.modal__content {
  max-width: 498px;
  padding: 0;
  overflow: hidden;
}

.modal__close {
  position: absolute;
  top: 24px;
  right: 24px;
  background: transparent url("../../assets/closeIconGrey.svg") center no-repeat;
  width: 20px;
  height: 20px;
}

.modal__image {
  width: 100%;
  object-fit: cover;
  padding: 0;
  margin: 0;
}
.modal__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
}

.modal__footer-left {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.modal__caption {
  font-family: Cabinet Grotesk;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}

.modal__weather {
  font-family: Cabinet Grotesk;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
}

.modal__delete-btn {
  padding: 8px 12px;
  font-family: "Cabinet Grotesk";
  font-weight: 500;
  font-size: 16px;
  color: #ff4d00;
  background: none;
  border: none;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  position: absolute;
  right: 34px;
  bottom: 60px;
}

.modal__delete-btn:hover {
  background: #ffe6dc;
}
