.clothes__section-title_container {
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0 auto 16px 0;
}

.clothes__section-title {
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
}

.clothes__section-add-btn {
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
  border: none;
  background: none;
  cursor: pointer;
}

.clothes__section-cards__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}
